<h3>Directions</h3>

<% @recipe.directions.each_with_index do |direction,index| %>
  <% if direction != @direction %>
    <div>
      <div class="clear-both">
        <h4>Step <%= (index + 1).to_s %>. <%= direction.title %></h4>
      </div>
      <div class="direction_ingredients pull-left">
        <% direction.ingredient_entries.each do |entry| %>
          <li><%= entry %></li>
        <% end %>
      </div>
      <div class="directions pull-left">
        <%= direction.text %>
      </div>
      <div class="clear-both">
        <%= link_to "delete", recipe_direction_path(@recipe,direction), method: :delete, data: { confirm: "You sure?" }, id:"delete-direction", remote: true %>
      </div>
    </div>
    <hr class="clear-both">
  <% end %>
<% end %>

<style>
.direction_ingredients{
  width:150px;
  padding-right: 50px;
}

.clear-both{
  clear:both;
}

</style>