<div>
  <%= form_for @direction, url: recipe_directions_path(@recipe,@direction), remote: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <% hidden_field_tag :recipe, :id %>

    <section class="left-col">
      <%= label_tag "Used Ingredients" %> 

      <% if (@ingredient_entries.present?) then %>
        <% @ingredient_entries.each_with_index do |entry,index| %>
          <div class="ingredient-list">
            <div class="ingredient-boxes pull-left">
              <%= check_box_tag 'direction[ingredient_entries[' + index.to_s + ']]', entry.id %>
            </div>
            <div class="ingredient-labels">
              <label> <%= entry %> </label>
            </div>
          </div>
        <% end %>
      <% end %>
    </section>

    <section class="right-col">
      <%= f.label :title%>
      <%= f.text_field :title %>

      <%= f.label :text%>
      <%= f.text_area :text, rows: 10, cols: 11 %>
    </section>

    <section>
      <div class="add-button">
        <%= f.submit "Add Direction", class: "btn btn-large btn-primary" %>
      </div>
    </section>
  <% end %>
</div>