<%= form_for @recipe, :html => { :multipart => true } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <% if (current_user) %>
    <%= f.hidden_field :user_id, value: @recipe.user ? @recipe.user.id : current_user.id  %>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name, :placeholder => "Enter recipe name..." %>
  <div id="name_error">
    <br>
  </div>

  <section class="pull-right">
    <div class="picture-border">
      <% if @recipe.has_picture? %>
        <%= image_tag @recipe.picture.url(:thumb) %>
      <% end %>
    </div>
    <div>
      <%= f.file_field :picture %>
    </div>
  </section>

  <%= f.label :description %>
  <%= f.text_area :description, :placeholder => "Enter a brief description of the recipe...", class: "input_area" %>
  <div id="desc_error">
    <br>
  </div>

  <%= f.label :ingredients %>
  <%= f.text_area :ingredients_text, :placeholder => "Enter the ingredients for this recipe...", id: "Ingredients", class: "input_area" %>
  <div id="ingredient_error">
    <br>
  </div>


  <br>
  <br>
  <%= f.submit "Next", class: "btn btn-large btn-primary", id: "recipe_next" %>
<% end %>
