<% recipes.each do |recipe| %>
  <div class="recipe-list-element">
    <section class="pull-right picture-border">
      <% if recipe.has_picture? %>
        <%= image_tag recipe.picture.url(:thumb) %>
      <% end %>
    </section>
    <section class="recipe-list-title">
      <%= link_to recipe.name, recipe %>
    </section>
    <section>
      <%= recipe.description %>
    </section>
    <div class="byline">
      <%= render partial: "recipes/byline", locals: { recipe: recipe } %> 
    </div>
    <section>
      <% favorites ||= false %>

      <% if favorites %>
        <% favorite = recipe.favorites.find_by_user_id(@user) %>
        <% if can? :destroy, favorite %>
          <%= link_to "unfavorite", favorite, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
      <% else %>
        <% if can? :destory, recipe %>
          <%= link_to "delete", recipe, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
      <% end %>
    </section>
  </div>

  <br>
<% end %>

<%= will_paginate recipes %>