<%= form_for @recipe, remote: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name %>
  <%= f.text_field :name, :placeholder => "Enter recipe name..." %>
  <div id="name_error">
    <br>
  </div>

  <%= f.label :description %>
  <%= f.text_area :description, :placeholder => "Enter a brief description of the recipe...", class: "input_area" %>
  <div id="desc_error">
    <br>
  </div>

  <%= f.label :ingredients %>
  <%= f.text_area :ingredients_text, :placeholder => "Enter the ingredients for this recipe...", id: "Ingredients", class: "input_area" %>
  <div id="ingredient_error">
    <br>
  </div>

<br>

  <%= f.submit "Next", class: "btn btn-large btn-primary", id: "recipe_next" %>
<% end %>

<%= javascript_include_tag "validate_input" %>