<% provide(:title, "New Recipe") %>
<h1>New Recipe</h1>

<div>
  <%= form_for @recipe do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :name %>
    <%= f.text_field :name, :placeholder => "Enter recipe name..." %>
    <div id="name_error"></div>

    <%= f.label :description %>
    <%= f.text_area :description, :placeholder => "Enter a brief description of the recipe..." %>
    <div id="desc_error"></div>

    <%= f.label :ingredients %>
    <%= f.text_area :ingredients_text, :placeholder => "Enter the ingredients for this recipe...", id: "Ingredients" %>
    <div id="ingredient_error"></div>

    <%= f.submit "Submit", class: "btn btn-large btn-primary", id: "recipe_submit", :disabled => 'disabled' %>
  <% end %>
</div>

<script>
  
  function findErrors(){
    var any_errors = false;

    if (findNameErrors()) any_errors = true;
    if (findDescErrors()) any_errors = true;
    if (findIngredientErrors()) any_errors = true;

    if (any_errors)
      $('#recipe_submit').attr("disabled","disabled");  
    else
      $('#recipe_submit').removeAttr("disabled");

  };


  function findNameErrors(){
    if ($('#recipe_name').val().length == 0)
    {
      $('#name_error').html('<span class="alert alert-error">' + 'Name cannot be left blank.' + '</span>');

      //return true;
    }
    else {
      $('#name_error').html('');

      //return false;
    }
  };


  function findDescErrors(){

    if ($('#recipe_description').val().length == 0)
    {
      $('#desc_error').html('<span class="alert alert-error">' + 'Description cannot be left blank.' + '</span>');

      return true;
    }
    else {
      $('#desc_error').html('');

      return false;
    }
  };    


  function findIngredientErrors(){
    var $text = $('#Ingredients').val()

    if (!$text)
    {
      $('#ingredient_error').html('<span class="alert alert-error">' + 'Ingredients cannot be left blank.' + '</span>');

      return true;
    }
    else {
      if (!areValidIngredients($text))
      {
        $('#ingredient_error').html('<span class="alert alert-error">' + 'Ingredients must be formated [amount] [measurement] [name of ingredient].' + '</span>');

        return true;
      }
      else {       
        $('#ingredient_error').html('');
        return false;
      }
    }
  };

  function areValidIngredients(text)
  {
    var temp_array = text.replace(/\s*$/gim,"").replace(/^\s*$\n/gim,"").split('\n')

    var result = true;

    temp_array.map(function(ingredient){
      if (ingredient.match(/^\d+ \w+/im) == null)
        result = false;
      if (ingredient.replace(/^\d+ \w+/im,"") == "")
        result = false;
    });

    return result;
  };

  $('body').keydown(findErrors);
  $('body').keyup(findErrors);
</script>