<% provide(:title, @recipe.name) %>
<h1><%= @recipe.name %></h1>
<div class="favorites">
  <% if logged_in? %>
    <% if @favorite.present? %>
      <span class="unfavorite">
        <%= button_to "", favorite_path(@favorite), method: :delete %>
      </span>
    <% else %>
      <span class="favorite">
        <%= button_to "", controller: "favorites", action: "create", "user_id" => current_user.id, "recipe_id" => @recipe.id %>
      </span>
    <% end %>
  <% end %>
</div>

<div class="byline clear-both">
  <% if @recipe.author.present? %>
     <% if @recipe.user.present? %> 
      Submitted by <%= link_to @recipe.author, @recipe.user %>
    <% else %>
      Submitted by <%= @recipe.author %>
    <% end %>
  <% end %>
<div>

<br>

<section class="clear-both">
  <%= @recipe.description %>
</section>

<br>

<section id="formatted-directions">
  <%= render "directions/layout" %>
</section>
<br>

<section class="clear-both">    
  <% if can? :update, @recipe %>
    <span>
      <%= link_to "edit", edit_recipe_path(@recipe) %>
    </span>
  <% end %>
  <% if can? :destroy, @recipe %>
    <span>
      <%= link_to "delete", @recipe, method: :delete, data: { confirm: "You sure?" } %>
    </span>
  <% end %>
</section>