<% provide(:title, @recipe.name) %>
<h1><%= @recipe.name %></h1>

<section>
  <%= @recipe.description %>
</section>

<section>
  <h3>Ingredients</h3>
  <ul>
    <% @recipe.ingredients_array.each do |ingredient| %>
      <li> <%= ingredient %> </li>
    <% end %>
  </ul>
</section>

<section>
  <span>
    <%= link_to "edit", edit_recipe_path(@recipe) %>
  </span>
  <span>
    <%= link_to "delete", @recipe, method: :delete, data: { confirm: "You sure?" } %>
  </span>
</section>