<% provide(:title, @recipe.name) %>
<h1><%= @recipe.name %></h1>

<section>
  <%= @recipe.description %>
</section>

<section>
  <h3>Ingredients</h3>
  <ul>
    <% @recipe.ingredient_entries.each do |entry| %>
      <% if (entry.ingredient.type != 'Result') %>
        <li> <%= entry %> </li>
      <% end %>
    <% end %>
  </ul>
</section>

<section class="clear-both" style="position:relative">
  <div class="pull-left">
    <% @directions_layout[0].each do |entry| %>
      <li style="height:25px;width:150px"> <%= entry %> </li>
    <% end %>
  </div>

  <div class="pull-left" style="padding-left:200px;position:absolute;height:1000px;width:1000px">
    <% current = 0 %>
    <% @directions_layout.drop(1).each_with_index do |column, index| %>
      <% cur_height = 0 %>
      <% Array(column).each_with_index do |direction, i| %>
        <div class='pull-left direction<%= current %>'>
          <%= direction[:title] %>
          <style>
            .direction<%= current %>{
              width:225px;
              padding-left:25px;
              position:absolute;
              left: <%= (index + 1) * 250 %>px;
              top: <%= cur_height * 25 %>px;
              height: <%= direction[:height] * 25 %>px;
              background-color: #<%= "%06x" % (rand * 0xffffff) %>;
            }
          </style>
          <% cur_height += direction[:height] %>
          <% current += 1 %>
        </div>
      <% end %>
    <% end%>
  </div>
</section>

<section class="clear-both">
  <span>
    <%= link_to "edit", edit_recipe_path(@recipe) %>
  </span>
  <span>
    <%= link_to "delete", @recipe, method: :delete, data: { confirm: "You sure?" } %>
  </span>
</section>

<style>

.clear-both{
  clear:both;
}

</style>