<% provide(:title, @recipe.name) %>
<section class="clear-both">
  <div class="pull-left">
    <h1><%= @recipe.name %></h1>
  </div>

  <div class="pull-left">
    <span class="favorites">
      <br>
      <%= render "favorites/form" %>
    </span>
  </div>
</section>

<div class="byline clear-both">
  <%= render partial: "recipes/byline", locals: {recipe: @recipe } %> 
<div>

<br>

<section class="clear-both">
  <div class="left-col">
    <div class="picture-border">
      <% if @recipe.has_picture? %>
        <%= image_tag @recipe.picture.url(:medium) %>
      <% end %>
    </div>
  </div>

  <div class="right-col">
    <%= @recipe.description %>
  </div>
</section>

<br class="clear-both">

<br>

<section id="formatted-directions1">
  <%= render "directions/layout" %>
</section>
<br>

<section class="clear-both">    
  <% if can? :update, @recipe %>
    <span>
      <%= link_to "edit", edit_recipe_path(@recipe) %>
    </span>
  <% end %>
  <% if can? :destroy, @recipe %>
    <span>
      <%= link_to "delete", @recipe, method: :delete, data: { confirm: "You sure?" } %>
    </span>
  <% end %>
</section>