<% provide(:title, "Sign Up") %>
<h1>Edit <%= @user.username %>'s Profile</h1>

<%= form_for @user do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <section>
    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <br><br>
    <%= image_tag avatar_url(@user) %>
    <%= f.label :avatar_url %>
    <%= f.text_field :avatar_url %>
  </section>

  <%= f.submit class: "btn btn-large btn-primary" %>
<% end %>

<hr>

<% if can? :destroy, @user %>
  <%= link_to "delete", @user, method: :delete, data: { confirm: "You sure?" } %>
<% end %>