<% provide(:title, "Sign Up") %>
<h1>Edit <%= current_user.username %>'s Profile</h1>

<%= form_for @user do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <section>
    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </section>

  <%= f.submit class: "btn btn-large btn-primary" %>
<% end %>

<hr>

<%= link_to "delete", @user, method: :delete, data: { confirm: "You sure?" } %>