<% provide(:title, @user.username ) %>
<h1><%= @user.username %>'s Profile</h1>

<section>
  <div class="left-col">
    <h3>User Recipes (<%= @user.recipes.count %>)</h3>
    <div id="recipes_list">
      <%= render 'recipes/list', recipes: @recipes %>
    </div>
  </div>

  <div class="right-col">
    <h3>User Favorites (<%= @user.favorites.count %>)</h3>
    <div id="recipes_list">
      <%= render 'recipes/list', recipes: @favorites,favorites: true %>
    </div>
  </div>
</section>

<section class="clear-both">
  <% if can? :update, @user %>
    <span>
      <%= link_to "edit", edit_user_path(@user) %>
    </span>
  <% end %>
</section>