<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <h2 class="logo"><strong>Recipe_App</strong></h2>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Recipes",  recipes_path %></li>
          <li><%= link_to "New Recipe",  new_recipe_path %></li>
          <% if !current_user %>
            <li><%= link_to "Sign Up",  new_user_path %></li>
            <li><%= link_to "Sign In",  new_session_path %></li>
          <% else %>
            <li><%= link_to current_user.username, user_path(current_user) %><li>
            <li><%= link_to "Sign Out", logout_path %></li>
          <% end %> 
        </ul>
      </nav>
    </div>
  </div>
</header>